<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.etrice.generator.java/src/org/eclipse/etrice/generator/java/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.etrice.generator.java.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc:org.eclipse.etrice.integration.tests}\model\org.eclipse.etrice.integration.ChoicePointTest.room&#13;&#10;${workspace_loc:org.eclipse.etrice.integration.tests}\model\org.eclipse.etrice.integration.HandlerTest.room&#13;&#10;${workspace_loc:org.eclipse.etrice.integration.tests}\model\org.eclipse.etrice.integration.PingPongThreadTest.room&#13;&#10;${workspace_loc:org.eclipse.etrice.integration.tests}\model\org.eclipse.etrice.integration.PingPongThreadTestReplPort.room&#13;&#10;${workspace_loc:org.eclipse.etrice.integration.tests}\model\org.eclipse.etrice.integration.SendingDataByValueTest.room&#13;&#10;${workspace_loc:org.eclipse.etrice.integration.tests}\model\org.eclipse.etrice.integration.tests.room&#13;&#10;${workspace_loc:org.eclipse.etrice.modellib}\models\TimingService.room"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.etrice.generator.java"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:org.eclipse.etrice.integration.tests}"/>
</launchConfiguration>
