<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.etrice.generator.launch.java.JavaGeneratorLaunchConfigurationDelegate"
            delegateDescription="Generates Java source code from ROOM models"
            delegateName="eTrice Java Generator Delegate"
            id="org.eclipse.etrice.generator.launch.java.launchConfigurationType"
            modes="run"
            name="eTrice Java Generator">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.etrice.generator.launch.java.launchConfigurationType"
            icon="icons/eTrice-launch.gif"
            id="org.eclipse.etrice.generator.launch.java.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.etrice.generator.launch.java.JavaGeneratorLaunchConfigurationTabGroup"
            description="Tab Group for eTrice Java Generator Launch Configurations"
            id="org.eclipse.etrice.generator.launch.java.launchConfigurationTabGroup"
            type="org.eclipse.etrice.generator.launch.java.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
