<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.etrice.generator.launch.java.launchConfigurationType">
<booleanAttribute key="GenInstanceDiagram" value="false"/>
<stringAttribute key="GenModelPath" value=""/>
<listAttribute key="ModelFiles">
<listEntry value="${workspace_loc:/org.eclipse.etrice.tutorials/model/scratch/PingPong.room}"/>
<listEntry value="${workspace_loc:/org.eclipse.etrice.tutorials/model/Blinky/Blinky.room}"/>
<listEntry value="${workspace_loc:/org.eclipse.etrice.tutorials/model/PedLightsController/PedLightsController.room}"/>
<listEntry value="${workspace_loc:/org.eclipse.etrice.tutorials/model/SendingData/SendingData.room}"/>
<listEntry value="${workspace_loc:/org.eclipse.etrice.tutorials/model/HelloWorld/HelloWorld.room}"/>
</listAttribute>
<booleanAttribute key="SaveGenModel" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${project}"/>
</launchConfiguration>
